#
# Copyright (c) 2026 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

DT_COMPAT_NORDIC_NRF_SAADCT := nordic,nrf-saadct

config SAADCT
	bool "SAADCT NRFX driver"
	select ADC
	select NRFX_TIMER
	select NRFX_GPPI
	select NRFX_SAADC
